[defaults]
inventory = inventory/hosts.yml
roles_path = roles
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = False
timeout = 30
host_key_checking = False
