[Unit]
Description=Rackpatch reboot completion notifier for {{ inventory_hostname }} {{ node_reboot_stamp }}
Wants=network-online.target
After=network-online.target pve-guests.service
ConditionPathExists={{ node_reboot_completion_script_path }}

[Service]
Type=oneshot
ExecStart={{ node_reboot_completion_script_path }}
TimeoutStartSec=1800

[Install]
WantedBy=multi-user.target
